.app-footer {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  background: var(--color-black);
  padding-top: 0;
}
.app-footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 5rem;
  padding: 0 2rem;
  z-index: 999;
}
.app-footer-links-contact,
.app-footer-links-logo,
.app-footer-links-work {
  flex: 1;
  margin: 1rem;
  text-align: center;
}
.app-footer-links-logo img:first-child {
  width: 180px;
  margin-bottom: 0.75rem;
}
.app-footer-links-icons {
  margin-top: 0.5rem;
}
.app-footer-links-icons svg {
  color: var(--color-white);
  margin: 0.5rem;
  cursor: pointer;
  font-size: 24px;
  transition: 0.2s ease-in;
}
.app-footer-links-icons svg:hover {
  color: var(--color-golden);
  font-size: 27px;
  transition: 0.3s ease-in;
}
.app-footer-headtext {
  color: var(--color-golden);
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.footer-copyright {
  z-index: 999;
  margin-top: 3rem;
}
@media screen and (min-width: 2000px) {
    .app-footer-headtext{
        font-size: 51px;
        line-height: 61px;
    }
}
@media screen and (max-width: 1150px) {
  .app-footer-links-contact,
  .app-footer-links-logo,
  .app-footer-links-work {
    margin: 2rem 0;
    width: 100%;
  }
  .app-footer-links {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  .app-footer {
    padding: 0 0 2rem 0;
  }
}
@media screen and (max-width: 350px) {
  .app-footer-links-logo img:first-child {
    width: 80%;
  }
}
